<p id="notice"><%= notice %></p>

<h1 style="color:<%= @category.color%>;"><%= @category.name %></h1>
<h2>Artículos</h2>
<% @category.articulos.each do |articulo|%>
	<h2><%= link_to articulo.titulo, articulo %></h2>
	<div>
	<%= articulo.body %> <%= link_to "Eliminar", articulo, method: :delete%>
</div>
<% end -%>
<p>
  <strong>Color:</strong>
  <%= @category.color %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
