<div class="container">
	<h1>Crear Articulo</h1>
	<%= form_for(@articulos) do |f| %>
		<% @articulos.errors.full_messages.each do |message| %>
		<div class="be-red" white>
			*<%= message %>
		</div>
		<% end %>
		<div class="field">
			<%= f.text_field :titulo, placeholder: "Titulo", class:"form-control"%>
		</div>
		<div class="field">
			<%= f.text_area :body, placeholder: "Escribe aqui el articulo", style:"height:250px", class:"form-control"%>
		</div>
		<div class="field">
			<%= f.submit "Guardar", class:"btn be-red white"%>
		</div>
	<%end%>
</div>