<articulos class="botton-space">
<%= articulos_cover @articulos.cover.url%>
	<div class="row center-xs"> 
		<div class="col-xs-12 ligth-border col-md-7">
		<h1 class="be-big blue">
			<%= @articulos.titulo %>
		</h1>
		<p class="text-right be-small">
			<%= link_to "Atras", articulos_path, class:"underline"%> - 
			<span class="be-red"><%= @articulos.visits_count %> visitas(s) </span> - 
			 - <% unless @articulos.user.nil? %>
			 <p>
				Escrito por: <%= @articulos.user.email%>
			</p>
			<%end%>
		</p>
		<div class="text-justify">
			<%= Sanitize.document(@articulos.body, Sanitize::Config::RELAXED).html_safe %>
		</div>	
		<div>
			<%= render "articulos/comments"%>
		</div>
		</div>
	</div>
</articulos>
